<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="config" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="3000"></property>
	</bean>

	<bean id="atomRedisPool" class="com.zhuoxuan.cache.redis.context.AtomRedisPool" init-method="refush">
		<property name="configPool" ref="config"></property>
		<property name="sharded">
			<list>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="localhost"></constructor-arg>
					<constructor-arg index="1" value="6379"></constructor-arg>
				</bean>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="localhost"></constructor-arg>
					<constructor-arg index="1" value="6379"></constructor-arg>
				</bean>
				<bean class="redis.clients.jedis.JedisShardInfo">
					<constructor-arg index="0" value="localhost"></constructor-arg>
					<constructor-arg index="1" value="6379"></constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="redisShardingClient" class="com.zhuoxuan.cache.redis.context.RedisShardingClient">
	    <property name="atomRedisPool" ref="atomRedisPool"></property>
	</bean>
	
	

</beans>